{% extends "account/base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="mx-auto col-md-6 col-10 bg-white p-5">
      <h1 class="mb-4 text-center">Log in</h1>
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <center>
          <button type="submit" class="btn btn-primary">{% trans "Sign In" %}</button>
        </center>
      </form>
    </div>
  </div>
</div>
{% endblock %}